<div class="content-area">

  <div class="clr-row clr-mt-16px">
    <div class="clr-col-12 clr-col-md-1"></div>

    <div class="clr-col-12 clr-col-lg-3">
      <form clrForm clrLayout="horizontal">
        <clr-input-container>
          <label>Transaction Type</label>
          <input clrInput type="text" [(ngModel)]="navigateData.data.trxType" name="trxType" disabled="true" />
        </clr-input-container>
        <clr-input-container>
          <label>LC No.</label>
          <input clrInput type="text" [(ngModel)]="navigateData.data.trxNo" name="trxNo" disabled="true" />
        </clr-input-container>
        <clr-input-container>
          <label>Applicant Bank</label>
          <input clrInput type="text" [(ngModel)]="navigateData.data.lcData.applicantBank"
            (input)="updateDataField('navigateData.data.lcData.applicantBank', navigateData.data.lcData.applicantBank)" name="applicantBank"
            required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Applicant</label>
          <input clrInput type="text" [(ngModel)]="navigateData.data.lcData.APPLICANT"
            (input)="updateDataField('navigateData.data.lcData.APPLICANT', navigateData.data.lcData.APPLICANT)" name="applicant"
            required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Beneficiary Bank</label>
          <input clrInput type="text" [(ngModel)]="navigateData.data.lcData.beneficiaryBank"
            (input)="updateDataField('navigateData.data.lcData.beneficiaryBank', navigateData.data.lcData.beneficiaryBank)"
            name="beneficiaryBank" required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Beneficiary</label>
          <input clrInput type="text" [(ngModel)]="navigateData.data.lcData.beneficiary"
            (input)="updateDataField('navigateData.data.lcData.beneficiary', navigateData.data.lcData.beneficiary)" name="beneficiary"
            required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
      </form>
    </div>

    <div class="clr-col-12 clr-col-lg-3">
      <form clrForm clrLayout="horizontal">
        <clr-select-container>
          <label>Form of Documentary Credit</label>
          <select clrSelect name="formOfDocumentaryCredit" [(ngModel)]="navigateData.data.lcData.FORM_OF_LC.form"
            (input)="updateDataField('navigateData.data.lcData.FORM_OF_LC.form', navigateData.data.lcData.FORM_OF_LC.form)"
            required="true">
            <option value="IRREVOCABLE">IRREVOCABLE</option>
            <option value="IRREVOCABLE TRANSFERABLE">IRREVOCABLE TRANSFERABLE</option>
          </select>
        </clr-select-container>
        <clr-date-container>
          <label>Issue Date</label>
          <input clrDate type="date" [(ngModel)]="navigateData.data.lcData.dateOfIssue"
            (input)="updateDataField('navigateData.data.lcData.dateOfIssue', navigateData.data.lcData.dateOfIssue)" name="issueDate"
            required="true" />
        </clr-date-container>
        <clr-input-container>
          <label>Applicable Rules</label>
          <input clrInput type="text" [(ngModel)]="navigateData.data.lcData.APLB_RULE"
            (input)="updateDataField('navigateData.data.lcData.APLB_RULE', navigateData.data.lcData.APLB_RULE)"
            name="applicableRules" required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
        <clr-date-container>
          <label>Expiry Date</label>
          <input clrDate type="date" [(ngModel)]="navigateData.data.lcData.EXPIRY_DT"
            (input)="updateDataField('navigateData.data.lcData.EXPIRY_DT', navigateData.data.lcData.EXPIRY_DT)" name="expiryDate"
            required="true" />
        </clr-date-container>
        <clr-input-container>
          <label>Expiry Place</label>
          <input clrInput type="text" [(ngModel)]="navigateData.data.lcData.EXPIRY_PLC"
            (input)="updateDataField('navigateData.data.lcData.EXPIRY_PLC', navigateData.data.lcData.EXPIRY_PLC)" name="expiryPlace"
            required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
      </form>
    </div>

    <div class="clr-col-12 clr-col-lg-3">
      <form clrForm clrLayout="horizontal">
        <clr-select-container>
          <label>Currency</label>
          <select clrSelect name="currencyCode" [(ngModel)]="navigateData.data.lcData.LC_CCY"
            (input)="updateDataField('navigateData.data.lcData.LC_CCY', navigateData.data.lcData.LC_CCY)" required="true">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="INR">INR</option>
            <option value="JPY">JPY</option>
            <option value="GBP">GBP</option>
            <option value="AUD">AUD</option>
            <option value="CAD">CAD</option>
            <option value="CHF">CHF</option>
            <option value="CNY">CNY</option>
            <option value="HKD">HKD</option>
            <option value="NZD">NZD</option>
            <option value="SGD">SGD</option>
            <option value="SEK">SEK</option>
            <option value="NOK">NOK</option>
          </select>
        </clr-select-container>
        <clr-input-container>
          <label>Amount</label>
          <input clrInput type="number" [(ngModel)]="navigateData.data.lcData.LC_AMT"
            (input)="updateDataField('navigateData.data.lcData.LC_AMT', navigateData.data.lcData.LC_AMT)" name="amount" required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Credit Amount Tolerance +</label>
          <input clrInput type="number" [(ngModel)]="navigateData.data.lcData.percentageCreditAmountTolerancePlus"
            (input)="updateDataField('navigateData.data.lcData.percentageCreditAmountTolerancePlus', navigateData.data.lcData.percentageCreditAmountTolerancePlus)"
            name="percentageCreditAmountTolerancePlus" required="true" />
        </clr-input-container>
        <clr-input-container>
          <label>Credit Amount Tolerance -</label>
          <input clrInput type="number" [(ngModel)]="navigateData.data.lcData.percentageCreditAmountToleranceMinus"
            (input)="updateDataField('navigateData.data.lcData.percentageCreditAmountToleranceMinus', navigateData.data.lcData.percentageCreditAmountToleranceMinus)"
            name="percentageCreditAmountToleranceMinus" required="true" />
        </clr-input-container>
        <clr-textarea-container>
          <label>Additional Amounts Covered</label>
          <textarea clrTextarea [(ngModel)]="navigateData.data.lcData.additionalAmountsCovered"
            (input)="updateDataField('navigateData.data.lcData.additionalAmountsCovered', navigateData.data.lcData.additionalAmountsCovered)"
            name="additionalAmountsCovered" required="true"></textarea>
        </clr-textarea-container>
        <clr-select-container>
          <label>Available With...By...</label>
          <select clrSelect name="availableWithByCode" [(ngModel)]="navigateData.data.lcData.AVAL_BY.code"
            (input)="updateDataField('navigateData.data.lcData.AVAL_BY.code', navigateData.data.lcData.AVAL_BY.code)"
            required="true">
            <option value="BY ACCEPTANCE">BY ACCEPTANCE</option>
            <option value="BY DEF PAYMENT">BY DEF PAYMENT</option>
            <option value="BY MIXED PYMT">BY MIXED PYMT</option>
            <option value="BY NEGOTIATION">BY NEGOTIATION</option>
            <option value="BY PAYMENT">BY PAYMENT</option>
          </select>
        </clr-select-container>
        <clr-textarea-container>
          <label>Drafts at...</label>
          <textarea clrTextarea [(ngModel)]="navigateData.data.lcData.draftsAt"
            (input)="updateDataField('navigateData.data.lcData.draftsAt', navigateData.data.lcData.draftsAt)" name="draftsAt"
            required="true"></textarea>
        </clr-textarea-container>
        <clr-input-container>
          <label>Advice Bank</label>
          <input clrInput type="text" [(ngModel)]="navigateData.data.lcData.ADVICE_BANK"
            (input)="updateDataField('navigateData.data.lcData.ADVICE_BANK', navigateData.data.lcData.ADVICE_BANK)" name="adviceBank"
            required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
      </form>
    </div>
  </div>

</div>