<div class="content-area">
  <div class="clr-row clr-mt-16px">
    <div class="clr-col-12 clr-col-md-1"></div>

    <div class="clr-col-12 clr-col-lg-3">
      <form clrForm clrLayout="horizontal">
        <clr-input-container>
          <label>Transaction Type</label>
          <input clrInput type="text" [(ngModel)]="trxData.trxType" name="trxType" disabled="true" />
        </clr-input-container>
        <clr-input-container>
          <label>LC No.</label>
          <input clrInput type="text" [(ngModel)]="trxData.trxNo" name="trxNo" disabled="true" />
        </clr-input-container>
        <clr-input-container>
          <label>Applicant Bank</label>
          <input clrInput type="text" [(ngModel)]="trxData.lcData.applicantBank"
            (input)="updateDataField('trxData.lcData.applicantBank', trxData.lcData.applicantBank)" name="applicantBank"
            required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Applicant</label>
          <input clrInput type="text" [(ngModel)]="trxData.lcData.applicant"
            (input)="updateDataField('trxData.lcData.applicant', trxData.lcData.applicant)" name="applicant"
            required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Beneficiary Bank</label>
          <input clrInput type="text" [(ngModel)]="trxData.lcData.beneficiaryBank"
            (input)="updateDataField('trxData.lcData.beneficiaryBank', trxData.lcData.beneficiaryBank)"
            name="beneficiaryBank" required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Beneficiary</label>
          <input clrInput type="text" [(ngModel)]="trxData.lcData.beneficiary"
            (input)="updateDataField('trxData.lcData.beneficiary', trxData.lcData.beneficiary)" name="beneficiary"
            required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
      </form>
    </div>

    <div class="clr-col-12 clr-col-lg-3">
      <form clrForm clrLayout="horizontal">
        <clr-select-container>
          <label>Form of Documentary Credit</label>
          <select clrSelect name="formOfDocumentaryCredit" [(ngModel)]="trxData.lcData.formOfDocumentaryCredit.form"
            (input)="updateDataField('trxData.lcData.formOfDocumentaryCredit.form', trxData.lcData.formOfDocumentaryCredit.form)"
            required="true">
            <option value="IRREVOCABLE">IRREVOCABLE</option>
            <option value="IRREVOCABLE TRANSFERABLE">IRREVOCABLE TRANSFERABLE</option>
          </select>
        </clr-select-container>
        <clr-date-container>
          <label>Issue Date</label>
          <input clrDate type="date" [(ngModel)]="trxData.lcData.dateOfIssue"
            (input)="updateDataField('trxData.lcData.dateOfIssue', trxData.lcData.dateOfIssue)" name="issueDate"
            required="true" />
        </clr-date-container>
        <clr-input-container>
          <label>Applicable Rules</label>
          <input clrInput type="text" [(ngModel)]="trxData.lcData.applicableRules"
            (input)="updateDataField('trxData.lcData.applicableRules', trxData.lcData.applicableRules)"
            name="applicableRules" required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
        <clr-date-container>
          <label>Expiry Date</label>
          <input clrDate type="date" [(ngModel)]="trxData.lcData.expiryDate"
            (input)="updateDataField('trxData.lcData.expiryDate', trxData.lcData.expiryDate)" name="expiryDate"
            required="true" />
        </clr-date-container>
        <clr-input-container>
          <label>Expiry Place</label>
          <input clrInput type="text" [(ngModel)]="trxData.lcData.expiryPlace"
            (input)="updateDataField('trxData.lcData.expiryPlace', trxData.lcData.expiryPlace)" name="expiryPlace"
            required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
      </form>
    </div>

    <div class="clr-col-12 clr-col-lg-3">
      <form clrForm clrLayout="horizontal">
        <clr-select-container>
          <label>Currency</label>
          <select clrSelect name="currencyCode" [(ngModel)]="trxData.lcData.currencyCode"
            (input)="updateDataField('trxData.lcData.currencyCode', trxData.lcData.currencyCode)" required="true">
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="INR">INR</option>
            <option value="JPY">JPY</option>
            <option value="GBP">GBP</option>
            <option value="AUD">AUD</option>
            <option value="CAD">CAD</option>
            <option value="CHF">CHF</option>
            <option value="CNY">CNY</option>
            <option value="HKD">HKD</option>
            <option value="NZD">NZD</option>
            <option value="SGD">SGD</option>
            <option value="SEK">SEK</option>
            <option value="NOK">NOK</option>
          </select>
        </clr-select-container>
        <clr-input-container>
          <label>Amount</label>
          <input clrInput type="number" [(ngModel)]="trxData.lcData.amount"
            (input)="updateDataField('trxData.lcData.amount', trxData.lcData.amount)" name="amount" required="true" />
          <clr-control-error *clrIfError="'required'">This is a required field</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Credit Amount Tolerance +</label>
          <input clrInput type="number" [(ngModel)]="trxData.lcData.percentageCreditAmountTolerancePlus"
            (input)="updateDataField('trxData.lcData.percentageCreditAmountTolerancePlus', trxData.lcData.percentageCreditAmountTolerancePlus)"
            name="percentageCreditAmountTolerancePlus" required="true" />
        </clr-input-container>
        <clr-input-container>
          <label>Credit Amount Tolerance -</label>
          <input clrInput type="number" [(ngModel)]="trxData.lcData.percentageCreditAmountToleranceMinus"
            (input)="updateDataField('trxData.lcData.percentageCreditAmountToleranceMinus', trxData.lcData.percentageCreditAmountToleranceMinus)"
            name="percentageCreditAmountToleranceMinus" required="true" />
        </clr-input-container>
        <clr-textarea-container>
          <label>Additional Amounts Covered</label>
          <textarea clrTextarea [(ngModel)]="trxData.lcData.additionalAmountsCovered"
            (input)="updateDataField('trxData.lcData.additionalAmountsCovered', trxData.lcData.additionalAmountsCovered)"
            name="additionalAmountsCovered" required="true"></textarea>
        </clr-textarea-container>
        <clr-select-container>
          <label>Available With...By...</label>
          <select clrSelect name="availableWithByCode" [(ngModel)]="trxData.lcData.availableWithByCode.code"
            (input)="updateDataField('trxData.lcData.availableWithByCode.code', trxData.lcData.availableWithByCode.code)"
            required="true">
            <option value="BY ACCEPTANCE">BY ACCEPTANCE</option>
            <option value="BY DEF PAYMENT">BY DEF PAYMENT</option>
            <option value="BY MIXED PYMT">BY MIXED PYMT</option>
            <option value="BY NEGOTIATION">BY NEGOTIATION</option>
            <option value="BY PAYMENT">BY PAYMENT</option>
          </select>
        </clr-select-container>
        <clr-textarea-container>
          <label>Drafts at...</label>
          <textarea clrTextarea [(ngModel)]="trxData.lcData.draftsAt"
            (input)="updateDataField('trxData.lcData.draftsAt', trxData.lcData.draftsAt)" name="draftsAt"
            required="true"></textarea>
        </clr-textarea-container>
      </form>
    </div>
  </div>

</div>