<app-header></app-header>

<div class="content-container">

    <clr-vertical-nav>

        <a clrVerticalNavLink routerLink="/trx" routerLinkActive="active" ariaCurrentWhenActive="page">Register
            Letter
            of Credit</a>
        <a clrVerticalNavLink routerLink="/second-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Issue Letter of Credit</a>
        <a clrVerticalNavLink routerLink="/third-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Register Document LC</a>
        <a clrVerticalNavLink routerLink="/fourth-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Check Document</a>
        <a clrVerticalNavLink routerLink="/fifth-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Register Discrepancies</a>
        <a clrVerticalNavLink routerLink="/sixth-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Discrepancy Response MT752</a>
        <a clrVerticalNavLink routerLink="/seventh-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Pay/Accept</a>
        <a clrVerticalNavLink routerLink="/eight-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Register LC</a>
        <a clrVerticalNavLink routerLink="/ninth-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Advise LC</a>

    </clr-vertical-nav>

    <div class="content-area">

        <div class="clr-row">

            <div class="clr-col-lg-5 clr-col-md-8 clr-col-12" *ngFor="let cardTitle of cardTitles; let index = index">
                <div class="card">
                    <h3 class="card-header">Case {{index + 1}}</h3>
                    <div class="card-block">
                        <h4 class="card-title">{{cardTitle}}</h4>
                        <div class="card-text" id="cardText{{index}}">{{cardTexts[index]}}</div>
                    </div>
                    <div class="card-footer">
                        <button class="tryButton btn btn-sm btn-link" (click)="tryButtonClick(index)">Try</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<app-footer [recognizedText]="recognizedText" [parentName]="parentName"></app-footer>