<app-header></app-header>
<div class="content-container">

    <clr-vertical-nav>

        <a clrVerticalNavLink routerLink="/trx" routerLinkActive="active" ariaCurrentWhenActive="page">Register Letter
            of Credit</a>
        <a clrVerticalNavLink routerLink="/second-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Issue Letter of Credit</a>
        <a clrVerticalNavLink routerLink="/third-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Register Document LC</a>
        <a clrVerticalNavLink routerLink="/fourth-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Check Document</a>
        <a clrVerticalNavLink routerLink="/fifth-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Register Discrepancies</a>
        <a clrVerticalNavLink routerLink="/sixth-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Discrepancy Response MT752</a>
        <a clrVerticalNavLink routerLink="/seventh-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Pay/Accept</a>
        <a clrVerticalNavLink routerLink="/eight-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Register LC</a>
        <a clrVerticalNavLink routerLink="/ninth-component" routerLinkActive="active"
            ariaCurrentWhenActive="page">Advise LC</a>

    </clr-vertical-nav>
    <div class="content-area">
        <div class="clr-row">
            <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                <div class="card">
                    <h3 class="card-header">Case I</h3>
                    <div class="card-block">
                        <h4 class="card-title">Register Letter of Credit</h4>
                        <div class="card-text">Chinasystems Ltd. Corp. applied for a non-transferable letter of credit
                            worth US$100,000</div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-link">Try</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                <div class="card">
                    <h3 class="card-header">Case II</h3>
                    <div class="card-block">
                        <h4 class="card-title">Register Letter of Credit</h4>
                        <div class="card-text">Microsoft China Corp. applied for a transferable letter of credit
                            worth EUR 200,000</div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-link">Try</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                <div class="card">
                    <h3 class="card-header">Case III</h3>
                    <div class="card-block">
                        <h4 class="card-title">Register Letter of Credit</h4>
                        <div class="card-text">Chinasystems Ltd. Corp. applied for a non-transferable letter of credit
                            worth US$100,000 advised by JPMorgan</div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-link">Try</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>